<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title: title}) %>
  <body>
    <%- include('partials/nav') %>
    <ul class="messages">
      <% messages.map((message) => { %>
      <li class="messageContainer">
        <p>Id - <%= message.id%></p>
        <h3><%= message.text %></h3>
        <p><%= message.user %></p>
        <p><%= message.added %></p>
        <a class="msgBtn" href="/<%= message.id %>">View message</a>
      </li>
      <%}) %>
    </ul>
    <%- include('partials/footer') %>
  </body>
</html>
