<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title: message.id}) %>
  <body>
    <%- include('partials/nav') %>
    <div>
      <p>Text - <%= message.text%></p>
      <p>User - <%= message.user%></p>
      <p>Added - <%= message.added%></p>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
