<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>
    <div>
      <p>Text - <%= text%></p>
      <p>User - <%= user%></p>
      <p>Added - <%= added%></p>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
